@function saturated-color($color) {
  @return oklch(from $color l calc(c * var(--saturation, 1)) h);
}

:root {
  --saturation: 1;

  --bg: var(--grey-bg);
  --fg: var(--grey-fg);

  /* Grey */

  --grey-bg: #{saturated-color(oklch(98% 0.005 28deg))};
  --grey-10: #{saturated-color(oklch(95% 0.005 28deg))};
  --grey-20: #{saturated-color(oklch(93% 0.005 28deg))};
  --grey-30: #{saturated-color(oklch(89% 0.005 28deg))};
  --grey-40: #{saturated-color(oklch(86% 0.005 28deg))};
  --grey-50: #{saturated-color(oklch(80% 0.005 28deg))};
  --grey-60: #{saturated-color(oklch(63% 0.0083 17.36deg))};
  --grey-70: #{saturated-color(oklch(46% 0.005 28deg))};
  --grey-80: #{saturated-color(oklch(36% 0.005 28deg))};
  --grey-90: #{saturated-color(oklch(29% 0.005 28deg))};
  --grey-fg: #{saturated-color(oklch(20% 0.005 28deg))};

  /* Red */

  --red-bg: #{saturated-color(oklch(98% 0.045 17deg))};
  --red-10: #{saturated-color(oklch(95% 0.054 17deg))};
  --red-20: #{saturated-color(oklch(93% 0.066 17deg))};
  --red-30: #{saturated-color(oklch(89% 0.085 18deg))};
  --red-40: #{saturated-color(oklch(86% 0.12 19deg))};
  --red-50: #{saturated-color(oklch(80% 0.14 19deg))};
  --red-60: #{saturated-color(oklch(63% 0.18 19deg))};
  --red-70: #{saturated-color(oklch(46% 0.18 28deg))};
  --red-80: #{saturated-color(oklch(36% 0.18 27deg))};
  --red-90: #{saturated-color(oklch(29% 0.17 27deg))};
  --red-fg: #{saturated-color(oklch(20% 0.14 27deg))};

  /* Orange */

  --orange-bg: #{saturated-color(oklch(98% 0.043 52deg))};
  --orange-10: #{saturated-color(oklch(95% 0.054 52deg))};
  --orange-20: #{saturated-color(oklch(93% 0.066 52deg))};
  --orange-30: #{saturated-color(oklch(89% 0.09 55deg))};
  --orange-40: #{saturated-color(oklch(86% 0.12 54deg))};
  --orange-50: #{saturated-color(oklch(80% 0.144 54deg))};
  --orange-60: #{saturated-color(oklch(63% 0.155 54deg))};
  --orange-70: #{saturated-color(oklch(46% 0.18 47deg))};
  --orange-80: #{saturated-color(oklch(36% 0.16 47deg))};
  --orange-90: #{saturated-color(oklch(29% 0.15 47deg))};
  --orange-fg: #{saturated-color(oklch(20% 0.15 46deg))};

  /* Yellow */

  --yellow-bg: #{saturated-color(oklch(98% 0.032 85deg))};
  --yellow-10: #{saturated-color(oklch(95% 0.048 85deg))};
  --yellow-20: #{saturated-color(oklch(93% 0.07 85deg))};
  --yellow-30: #{saturated-color(oklch(89% 0.095 86deg))};
  --yellow-40: #{saturated-color(oklch(86% 0.114 87deg))};
  --yellow-50: #{saturated-color(oklch(80% 0.1464 87deg))};
  --yellow-60: #{saturated-color(oklch(63% 0.168 87deg))};
  --yellow-70: #{saturated-color(oklch(46% 0.186 80deg))};
  --yellow-80: #{saturated-color(oklch(36% 0.174 79deg))};
  --yellow-90: #{saturated-color(oklch(29% 0.174 75deg))};
  --yellow-fg: #{saturated-color(oklch(20% 0.174 75deg))};

  /* Brown */

  --brown-bg: #{saturated-color(oklch(98% 0.0228 56deg))};
  --brown-10: #{saturated-color(oklch(95% 0.0234 56deg))};
  --brown-20: #{saturated-color(oklch(93% 0.039 56deg))};
  --brown-30: #{saturated-color(oklch(89% 0.054 57deg))};
  --brown-40: #{saturated-color(oklch(86% 0.072 58deg))};
  --brown-50: #{saturated-color(oklch(80% 0.102 58deg))};
  --brown-60: #{saturated-color(oklch(63% 0.102 58deg))};
  --brown-70: #{saturated-color(oklch(46% 0.096 54deg))};
  --brown-80: #{saturated-color(oklch(36% 0.078 54deg))};
  --brown-90: #{saturated-color(oklch(29% 0.072 54deg))};
  --brown-fg: #{saturated-color(oklch(20% 0.072 54deg))};

  /* Green */

  --green-bg: #{saturated-color(oklch(98% 0.019 133deg))};
  --green-10: #{saturated-color(oklch(95% 0.024 133deg))};
  --green-20: #{saturated-color(oklch(93% 0.048 133deg))};
  --green-30: #{saturated-color(oklch(89% 0.0684 134deg))};
  --green-40: #{saturated-color(oklch(86% 0.09 134deg))};
  --green-50: #{saturated-color(oklch(80% 0.138 134deg))};
  --green-60: #{saturated-color(oklch(62% 0.138 134deg))};
  --green-70: #{saturated-color(oklch(46% 0.126 139deg))};
  --green-80: #{saturated-color(oklch(36% 0.102 138deg))};
  --green-90: #{saturated-color(oklch(29% 0.09 138deg))};
  --green-fg: #{saturated-color(oklch(20% 0.09 138deg))};

  /* Turquoise */

  --turquoise-bg: #{saturated-color(oklch(98% 0.014 205deg))};
  --turquoise-10: #{saturated-color(oklch(95% 0.024 205deg))};
  --turquoise-20: #{saturated-color(oklch(93% 0.04 205deg))};
  --turquoise-30: #{saturated-color(oklch(89% 0.043 206deg))};
  --turquoise-40: #{saturated-color(oklch(86% 0.066 207deg))};
  --turquoise-50: #{saturated-color(oklch(80% 0.096 207deg))};
  --turquoise-60: #{saturated-color(oklch(62% 0.12 207deg))};
  --turquoise-70: #{saturated-color(oklch(44% 0.18 202deg))};
  --turquoise-80: #{saturated-color(oklch(36% 0.204 201deg))};
  --turquoise-90: #{saturated-color(oklch(29% 0.192 201deg))};
  --turquoise-fg: #{saturated-color(oklch(20% 0.192 201deg))};

  /* Blue */

  --blue-bg: #{saturated-color(oklch(98% 0.015 247deg))};
  --blue-10: #{saturated-color(oklch(95% 0.023 252deg))};
  --blue-20: #{saturated-color(oklch(93% 0.036 252deg))};
  --blue-30: #{saturated-color(oklch(89% 0.0564 253deg))};
  --blue-40: #{saturated-color(oklch(86% 0.072 256deg))};
  --blue-50: #{saturated-color(oklch(80% 0.12 256deg))};
  --blue-60: #{saturated-color(oklch(63% 0.14 256deg))};
  --blue-70: #{saturated-color(oklch(46% 0.17 252deg))};
  --blue-80: #{saturated-color(oklch(36% 0.15 251deg))};
  --blue-90: #{saturated-color(oklch(29% 0.132 250deg))};
  --blue-fg: #{saturated-color(oklch(20% 0.132 250deg))};

  /* Purple */

  --purple-bg: #{saturated-color(oklch(98% 0.043 312deg))};
  --purple-10: #{saturated-color(oklch(95% 0.048 312deg))};
  --purple-20: #{saturated-color(oklch(93% 0.072 312deg))};
  --purple-30: #{saturated-color(oklch(89% 0.0852 313deg))};
  --purple-40: #{saturated-color(oklch(86% 0.1044 314deg))};
  --purple-50: #{saturated-color(oklch(80% 0.15 314deg))};
  --purple-60: #{saturated-color(oklch(63% 0.18 314deg))};
  --purple-70: #{saturated-color(oklch(46% 0.24 305deg))};
  --purple-80: #{saturated-color(oklch(36% 0.21 304deg))};
  --purple-90: #{saturated-color(oklch(29% 0.184 304deg))};
  --purple-fg: #{saturated-color(oklch(20% 0.168 303deg))};

  /* ===== Pink ===== */

  --pink-bg: #{saturated-color(oklch(98% 0.04 340deg))};
  --pink-10: #{saturated-color(oklch(95% 0.045 340deg))};
  --pink-20: #{saturated-color(oklch(93% 0.063 340deg))};
  --pink-30: #{saturated-color(oklch(89.5% 0.07 341deg))};
  --pink-40: #{saturated-color(oklch(86% 0.091 342deg))};
  --pink-50: #{saturated-color(oklch(80% 0.14 342deg))};
  --pink-60: #{saturated-color(oklch(63% 0.2 342deg))};
  --pink-70: #{saturated-color(oklch(46% 0.27 348deg))};
  --pink-80: #{saturated-color(oklch(36% 0.25 349deg))};
  --pink-90: #{saturated-color(oklch(29% 0.2112 350deg))};
  --pink-fg: #{saturated-color(oklch(20% 0.217 350deg))};
}
