:root {
  --letter-spacing: normal;
  --word-spacing: normal;
  --code-white-space: pre-wrap;

  --font-size-smaller: 0.875em;
  --font-size-bigger: 1.2em;

  --font-size-scale: 1;
  --line-height-scale: 1;
  --prose-flow-scale: 1;

  --font-size-xs: calc(var(--font-size-scale) * 0.875rem);
  --line-height-xs: calc(var(--line-height-scale) * 1.7);

  --font-size-s: calc(var(--font-size-scale) * 1rem);
  --line-height-s: calc(var(--line-height-scale) * 1.65);

  --font-size-m: calc(var(--font-size-scale) * 1.125rem);
  --line-height-m: calc(var(--line-height-scale) * 1.625);

  --font-size-l: calc(var(--font-size-scale) * 1.325rem);
  --line-height-l: calc(var(--line-height-scale) * 1.6);

  --font-size-xl: calc(var(--font-size-scale) * 1.5rem);
  --line-height-xl: calc(var(--line-height-scale) * 1.45);

  --font-size-xxl: calc(var(--font-size-scale) * 1.825rem);
  --line-height-xxl: calc(var(--line-height-scale) * 1.45);

  --font-size-xxxl: calc(var(--font-size-scale) * 2.325rem);
  --line-height-xxxl: calc(var(--line-height-scale) * 1.4);

  --font-size-xxxxl: calc(var(--font-size-scale) * 3.275rem);
  --line-height-xxxxl: calc(var(--line-height-scale) * 1.35);

  --font-size-xxxxxl: calc(var(--font-size-scale) * 5.25rem);
  --line-height-xxxxxl: calc(var(--line-height-scale) * 1.2);
}

:where(html) {
  letter-spacing: var(--letter-spacing, normal);
  word-spacing: var(--word-spacing, normal);
}

:where(h1, .h1) {
  font-size: var(--font-size-xxxxxl);
  line-height: var(--line-height-xxxxxl);
}

:where(h2, .h2) {
  font-size: var(--font-size-xxxxl);
  line-height: var(--line-height-xxxxl);
}

:where(h3, .h3) {
  font-size: var(--font-size-xxxl);
  line-height: var(--line-height-xxxl);
}

:where(h4, .h4) {
  font-size: var(--font-size-xxl);
  line-height: var(--line-height-xxl);
}

:where(h5, .h5) {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
}

:where(h6, .h6) {
  font-size: var(--font-size-l);
  line-height: var(--line-height-l);
}

:where(body, .p) {
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
}

:where(pre, .pre) {
  white-space: var(--code-white-space, pre-wrap);
}

:where(small, .small) {
  font-size: var(--font-size-smaller);
}

:where(.big) {
  font-size: var(--font-size-bigger);
}

.prose {
  :where(* + h2) {
    margin-block-start: calc(var(--prose-flow-scale) * 1.575em);
  }

  :where(* + h3),
  :where(* + h4) {
    margin-block-start: calc(var(--prose-flow-scale) * 1.125em);
  }

  :where(*:not(:is(p, small)) + h3),
  :where(*:not(:is(p, small)) + h4) {
    margin-block-start: calc(var(--prose-flow-scale) * 1.35em);
  }

  :where(* + h5) {
    margin-block-start: calc(var(--prose-flow-scale) * 0.985em);
  }

  :where(* + h6) {
    margin-block-start: calc(var(--prose-flow-scale) * 0.915em);
  }

  :where(h1 + *),
  :where(h2 + *),
  :where(h3 + *),
  :where(h4 + *) {
    margin-block-start: calc(var(--prose-flow-scale) * 1.125em);
  }

  :where(h5 + *),
  :where(h6 + *) {
    margin-block-start: calc(var(--prose-flow-scale) * 0.875em);
  }

  :where(h1 + h2),
  :where(h2 + h3) {
    margin-block-start: calc(var(--prose-flow-scale) * 0.42em);
  }

  :where(h3 + h4),
  :where(h4 + h5),
  :where(h5 + h6) {
    margin-block-start: calc(var(--prose-flow-scale) * 0.59em);
  }

  :where(* + p),
  :where(* + small) {
    margin-block-start: calc(var(--prose-flow-scale) * 1.125em);
  }

  :where(p + *),
  :where(small + *) {
    margin-block-start: calc(var(--prose-flow-scale) * 1.4em);
  }

  :where(:is(small, p) + :is(small, p)) {
    margin-block-start: calc(var(--prose-flow-scale) * 1.125em);
  }

  :where(ul, ol) {
    padding-inline-start: 0;
    margin-inline-start: calc(var(--prose-flow-scale) * 2.4em);
  }

  :where(li + li) {
    margin-block-start: calc(var(--prose-flow-scale) * 0.375em);
  }

  :where(li > ul, li > ol) {
    margin-block: calc(var(--prose-flow-scale) * 0.275em) calc(var(--prose-flow-scale) * 0.5em);
    margin-inline-start: calc(var(--prose-flow-scale) * 1.75em);
  }

  :where(li > p) {
    margin-block-start: calc(var(--prose-flow-scale) * 0.325em);
  }

  :where(hr:not([aria-orientation="vertical"])) {
    margin-block: calc(var(--prose-flow-scale) * 2.8em);
  }

  :where(hr[aria-orientation="vertical"]) {
    margin-inline: calc(var(--prose-flow-scale) * 2.8em);
  }
}
