/* stylelint-disable scss/operator-no-unspaced */

@use "@typeach/theme/utils";

h1:not([class]) {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
  }
}

h1:not([class]) {
  z-index: -1;

  inline-size: 100%;
  border-radius: var(--border-radius);

  color: var(--pink-80);

  &::before {
    inline-size: 2.25em;
    aspect-ratio: 1;

    transform-origin: center;
    inset-inline-start: -0.75em;
    inset-block-start: -0.65em;

    background-color: var(--pink-40);

    /**
      * Flower shape.
      *
      * Number of petals: 10
      * Rotation: 0
      *
      * @see https://css-generators.com/flower-shapes/
      */
    --g: /23.606% 23.606% radial-gradient(#000 calc(71% - 1px), #0000 71%) no-repeat;

    mask:
      100% 50% var(--g),
      90.451% 79.389% var(--g),
      65.451% 97.553% var(--g),
      34.549% 97.553% var(--g),
      9.549% 79.389% var(--g),
      0% 50% var(--g),
      9.549% 20.611% var(--g),
      34.549% 2.447% var(--g),
      65.451% 2.447% var(--g),
      90.451% 20.611% var(--g),
      radial-gradient(100% 100%, #000 36.327%, #0000 calc(36.327% + 1px));
  }
}

.description {
  font-size: var(--font-size-bigger);

  margin-inline: 7.5rem var(--spacing-s);
  margin-block: 0 var(--spacing-xxl);

  color: var(--pink-80);
}

@media (width < 42rem) {
  iframe {
    background-color: var(--bg);
  }

  h1:not([class])::before {
    inline-size: 3em;
    inset-inline-start: -1em;
    inset-block-start: -3.125em;
  }

  .description {
    margin-inline-start: 0;
  }
}

pre {
  padding: var(--spacing-xl);

  font-size: var(--font-size-smaller);
  line-height: var(--line-height-m);

  &:not(.code-block pre) {
    border-radius: var(--border-radius);
    border: var(--invisible-border);
  }
}

.two-columns {
  inline-size: fit-content;
  max-inline-size: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-xl);

  margin-block-start: var(--spacing-l);

  @media (width < 46rem) {
    grid-template-columns: 1fr;
  }
}

ol,
ul {
  list-style: none;

  li {
    position: relative;
  }

  li::marker {
    content: none;
  }

  li::before {
    content: "";
    position: absolute;

    block-size: 0.725em;
    aspect-ratio: 1;

    inset-inline-start: -1.25em;
    inset-block-start: 0.425em;

    background-color: var(--pink-60);
    border: var(--invisible-border);
    border-radius: 100%;

    /**
      * Flower shape.
      *
      * Number of petals: 6
      * Rotation: 4
      *
      * @see https://css-generators.com/flower-shapes/
      */
    --g: /33.334% 33.334% radial-gradient(#000 calc(71% - 1px), #0000 71%) no-repeat;

    mask:
      96.864% 67.429% var(--g),
      58.338% 99.3% var(--g),
      11.474% 81.871% var(--g),
      3.136% 32.571% var(--g),
      41.662% 0.7% var(--g),
      88.526% 18.129% var(--g),
      radial-gradient(100% 100%, #000 28.868%, #0000 calc(28.868% + 1px));

    @media (forced-colors: active) {
      mask: none;
    }
  }
}

table {
  --prose-flow-scale: 0.8;

  border-spacing: 0;
  border: var(--border);
  border-radius: var(--border-radius);

  overflow: hidden;

  &:not(.large) {
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);

    tr:nth-child(even):not(:last-child) td {
      border-block: var(--border);
    }

    tr:nth-child(even):last-child td {
      border-block-start: var(--border);
    }
  }

  td,
  th {
    padding: var(--spacing-s) var(--spacing-m);
    text-align: start;
  }

  th {
    border-block-end: var(--invisible-border);

    background-color: var(--green-20);
    color: var(--green-80);

    font-weight: var(--font-weight-medium);
  }

  td:first-child {
    min-inline-size: max-content;
    white-space: nowrap;
  }

  td {
    vertical-align: text-top;
  }
}

table.large {
  td {
    padding: var(--spacing-l) var(--spacing-l);
  }

  th {
    padding: var(--spacing-s) var(--spacing-l);
  }

  th:not(:last-child),
  td:not(:last-child) {
    padding-inline-end: var(--spacing-s);
  }

  tr:nth-child(even) {
    background-color: var(--grey-10);
  }
}
