@use "@typeach/theme";
@use "@typeach/theme/reset";
@use "@typeach/theme/utils";

@use "./typography";
@use "./inline";
@use "./block";

:root {
  --border-radius: 8px;
  --border-shape: 1px solid;
  --border: var(--border-shape) var(--grey-40);
  --invisible-border: var(--border-shape) transparent;

  --article-inline-size: min(calc(100svw - 2rem), 50rem);
  --inline-margin: calc((100svw - var(--article-inline-size)) / 2);

  --icon-size: 1.25em;
}

html {
  background-color: var(--bg);
  color: var(--fg);
}

body {
  @include utils.center-grid(var(--spacing-xxxxxl));
  grid-template-rows: auto 1fr auto;

  @media (width <= 46rem) {
    gap: var(--spacing-xxxxl);
  }
}

main {
  inline-size: var(--article-inline-size);
}

svg {
  inline-size: var(--icon-size);
  min-inline-size: var(--icon-size);
}
