@use "@typeach/theme/utils";
@use "./mixins";

a {
  color: var(--blue-80);

  border-radius: var(--border-radius);
  corner-shape: squircle;

  padding-inline: var(--relative-spacing-xs);
  margin-inline: calc(var(--relative-spacing-xs) * -1);
}

/**
  * Github links have the Github logo inside them.
  */
a[href^="https://github.com"] {
  @include utils.dock;
  gap: var(--spacing-xs);
  display: inline-flex;
}

code:not(pre code),
kbd {
  display: inline-flex;
  align-items: center;
  gap: 0.125em;

  white-space: normal;
  word-break: word-break;

  &:not(.unstyled) {
    margin-inline: 1px;
    padding-inline: var(--relative-spacing-s);

    border-radius: var(--border-radius);

    line-height: 1.4;
  }
}

code:not(pre code) {
  border: var(--invisible-border);
}

code:not(pre code) {
  font-size: var(--font-size-smaller);
}

code:not(pre code):not(.colorless) {
  background-color: var(--blue-30);
  color: var(--blue-80);
}

code:not(pre code).grey {
  background-color: var(--grey-30);
  color: var(--grey-70);
}

kbd:not(.unstyled) {
  border: var(--border-shape) var(--grey-60);

  background-color: var(--bg);
  color: var(--fg);

  font-size: var(--font-size-smaller);
}

.required {
  color: var(--red-70);
}

.faded {
  color: var(--grey-70);
}
