/* Use a more intuitive box-sizing model. */
:where(*, *::before, *::after, *::details-content) {
  box-sizing: border-box;
}

/* Remove default margins. */
:where(*:not(dialog)) {
  margin: 0;
}

/**
 * Ensure a gap above an anchor
 * when it is scrolled into view.
 */
:where([id]) {
  scroll-margin-block: 5ex;
}

/**
  * Avoid layout shifts due to an
  * inconsistent scrollbar.
  */
:where(html) {
  scrollbar-gutter: stable;
  text-size-adjust: none;
}

/* Take up the full block size of the screen. */
:where(body) {
  min-block-size: 100svh;
}

/* Ensure clickable targets are communicated. */
:where(a, select:enabled:not([aria-disabled="true"]), button:enabled:not([aria-disabled="true"])) {
  cursor: pointer;
}

/**
  * Ensure button color is inherited,
  * by default Safari on mobile renders
  * button text as blue.
  */
:where(button) {
  color: inherit;
}

/* Inherit font for form controls */
:where(button, input, textarea, select) {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}

/* Allow textareas to resize to fit content */
:where(textarea:not([rows])) {
  field-sizing: content;
}

/**
  * Prefer the font to decide where
  * underlines should be placed.
  */
:where(a) {
  text-underline-position: from-font;
}

/**
  * Make selection select the entire text
  * for inline code snippets.
  */
:where(code:not(pre code)) {
  user-select: all;
}

/* Improve media defaults */
:where(img, svg, picture, video, canvas, iframe) {
  max-inline-size: 100%;
  min-inline-size: 0;

  display: block;
}

/* Avoid text overflows */
:where(pre) {
  white-space: var(--code-white-space, pre-wrap);
  overflow-wrap: break-word;
}

/* Improve line wrapping for paragraphs and avoid text overflows */
:where(p, small, caption, figcaption, blockquote, li, .p) {
  hyphens: auto;
  text-wrap: pretty;
  overflow-wrap: break-word;

  max-inline-size: min(75ch, 100%);
}

/* Improve line wrapping for headings and avoid text overflows */
:where(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6) {
  hyphens: auto;
  text-wrap: balance;
  overflow-wrap: break-word;

  max-inline-size: 100%;
}

/* Tabular numbers for tables */
:where(table) {
  font-variant-numeric: slashed-zero tabular-nums;
}

/* Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  :where(:root) {
    interpolate-size: allow-keywords;
  }
}
