@use "sass:string";
@use "sass:list";

@mixin visually-hidden {
  &:not(:focus):not(:focus-within) {
    clip-path: inset(50%);

    block-size: 1px;
    inline-size: 1px;

    overflow: hidden;
    position: absolute;
    white-space: nowrap;
  }
}

@mixin center($gap: false) {
  display: grid;
  place-content: center;
  justify-items: center;

  @if $gap {
    gap: $gap;
  }
}

@mixin dock($gap: false) {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @if $gap {
    gap: $gap;
  }
}

@mixin stack($gap: false) {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-self: stretch;

  @if $gap {
    gap: $gap;
  }
}

@mixin space-between($gap: false) {
  @include dock($gap);
  justify-content: space-between;
}

@mixin square($size: auto) {
  aspect-ratio: 1;
  flex: 0 0 auto;

  @if $size {
    min-inline-size: $size;
    inline-size: $size;
    max-inline-size: $size;
  }

  @if $size {
    min-block-size: $size;
    block-size: $size;
    max-block-size: $size;
  }
}

@mixin transition($properties...) {
  @media (prefers-reduced-motion: no-preference) {
    @content;

    @if list.length($properties) {
      transition-property: #{$properties};
      transition-duration: var(--transition-duration, 0.175s);
      transition-timing-function: ease-in-out;
    }
  }
}

@mixin enabled {
  &:enabled:not([aria-disabled="true"]),
  &[aria-disabled="false"]:not(:disabled),
  &:not(:disabled):not([aria-disabled="true"]) {
    @content;
  }
}

@mixin disabled {
  &:disabled,
  &[aria-disabled="true"] {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}
